<!-- Navigation -->
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top navbar-custom">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span> Menu
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="#page-top">Hen Portfolio</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#portfolio">Portfolio</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">About</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Contact</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>

<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img #henImg class="img-responsive spin" (click)="changeSpinSpeed()" [ngClass] ="{speedSpin:speedSpin}" id="hen-img" src="assets/img/hen.jpg" alt="">
                <div class="intro-text">
                    <span class="name">Hen Bar Levi</span>
                    <hr class="star-light">
                    <span class="skills">Web Developer - Front-end and Back-end </span>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Portfolio Grid Section -->
<section id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Portfolio</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/cabin.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/cake.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/circus.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/game.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/safe.png" class="img-responsive" alt="">
                </a>
            </div>
            <div class="col-sm-4 portfolio-item">
                <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                    <div class="caption">
                        <div class="caption-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="assets/img/portfolio/submarine.png" class="img-responsive" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
                <p>Hello my name is Hen Bar Levi and i am a Fullstack Developer.
                    <br> love programming and have a large scale of knowledge in a variety of thecnologies Such as Node, Angular
                    2, Mongo , WPF,</p>
            </div>
            <div class="col-lg-4">
                <p> WCF HTML, CSS, JavaScript, TypeScript and more (full description in my CV).
                    <br>I Created This Website with Nodejs Express and Angular 5 only to show a small scale of my capabilities</p>
            </div>
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="#" class="btn btn-lg btn-outline" (click)="downloadMyCv()">
                    <i class="fa fa-download"></i> Download My CV
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Contact Me</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                <form name="sentMessage" id="contactForm" (ngSubmit)="onSubmit(form)" novalidate #form="ngForm">
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Name</label>
                            <input [(ngModel)]="message.name" type="text" class="form-control" name="name" placeholder="Name" id="name" required #nameField="ngModel">
                            <p class="help-block text-danger"></p>
                            <p *ngIf="nameField.touched && nameField.invalid" class="help-block text-danger alert-danger">Please enter a name</p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email Address</label>
                            <input [(ngModel)]="message.emailAddress" type="email" class="form-control" name="emailAddress" placeholder="Email Address"
                                id="email" required pattern=".+@.+" #emailField="ngModel">
                            <p class="help-block text-danger"></p>
                            <p *ngIf="emailField.touched && emailField.invalid" class="help-block text-danger">Please enter a valid email</p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Phone Number</label>
                            <input [(ngModel)]="message.phoneNumber" type="tel" class="form-control" name="phone" placeholder="Phone Number" id="phone">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Message</label>
                            <textarea [(ngModel)]="message.message" rows="5" class="form-control" name="message" placeholder="Message" id="message" required
                                #messageField="ngModel"></textarea>
                            <p class="help-block text-danger"></p>
                            <p *ngIf="messageField.touched && messageField.invalid" class="help-block text-dangerr">Please enter a message</p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" [disabled]="form.invalid" class="btn btn-success btn-lg">Send</button>
                            <p *ngIf="sendingEmail">Sending...</p>
                            <p class="help-block text-danger" *ngIf="sendingEmailFailed===true">
                                ❌ Oops, i have some issue with my server. please send me an email to : hen101020@gmail.com
                            </p>
                            <p *ngIf="sendingEmailFailed===false">
                                ✔️
                            </p>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- Footer -->
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Location</h3>
                    <p>
                        Bat-Yam</p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Around the Web</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="#" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-facebook"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-google-plus"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://github.com/henbarlevi" target="_blank" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-github"></i>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/hen-bar-levi-a63b1912b/" target="_blank" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-linkedin"></i>
                            </a>
                        </li>
                        <li>
                            <a href="#" class="btn-social btn-outline">
                                <i class="fa fa-fw fa-dribbble"></i>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Direct Contact</h3>
                    <p>Phone Number :
                        <a href="#">052-7046802</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Copyright &copy; Your Website 2016
                </div>
            </div>
        </div>
    </div>
</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
    <a class="btn btn-primary" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>

<!-- Portfolio Modals -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/cabin.png" class="img-responsive img-centered" alt="">
                        <p>Serve for a 4.5 in the Israeli Air Force as an Electronics Engineer in Classified Unit Giving high
                            level of service under pressure.
                            <br>also have a recommendation from a Major</p>
                        <ul class="list-inline item-details">

                            <li>Date:
                                <strong>
                                    <a href="#">May 2011 - August 2015</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong>
                                    <a href="#">Electronics Engineer</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/cake.png" class="img-responsive img-centered" alt="">
                        <p>Finished Associate’s Degree Field Of Study Electrical and Electronics Engineering Grade 90+ in Kinerret
                            College
                            <br>
                            <a href="#about">the Degree Included C,assembly and VHDL</a>
                        </p>
                        <ul class="list-inline item-details">

                            <li>Date:
                                <strong>
                                    <a href="#">2009-2011</a>
                                </strong>
                            </li>

                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/circus.png" class="img-responsive img-centered" alt="">
                        <p>Finished Associate’s Degree In Software Development (.NET) Grade 90+ - In Sella College.
                            <br>
                            <a href="#">it included a large scale of thecnologies and languages (1200 hours)</a>
                        </p>
                        <ul class="list-inline item-details">

                            <li>Date:
                                <strong>
                                    <a href="#">Dec 2015 - Dec 2016</a>
                                </strong>
                            </li>

                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Project Title</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/game.png" class="img-responsive img-centered" alt="">
                        <p>Building a CRM website for Incubation Program that
                            <a href="#">helps to manage startups projects info.</a>
                        </p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong>
                                    <a href="http://startbootstrap.com">GVI</a>
                                </strong>
                            </li>
                            <li>Technologies:
                                <strong>
                                    <a href="#">Angular 2 , Node jS, Express, MongoDB and more</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>
                                    <a href="#">Jun 2017 - in process</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong>
                                    <a href="#">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Coming soon</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/safe.png" class="img-responsive img-centered" alt="">
                        <p>
                        </p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong>
                                    <a href="http://startbootstrap.com">GVI</a>
                                </strong>
                            </li>
                            <li>Technologies:
                                <strong>
                                    <a href="#">Angular 2 , Node jS, Express, MongoDB and more</a>
                                </strong>
                            </li>
                            <li>Date:
                                <strong>
                                    <a href="#">Jun 2017 - in process</a>
                                </strong>
                            </li>
                            <li>Service:
                                <strong>
                                    <a href="#">Web Development</a>
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2>Coming soon</h2>
                        <hr class="star-primary">
                        <img src="assets/img/portfolio/submarine.png" class="img-responsive img-centered" alt="">
                        <p></p>
                        <ul class="list-inline item-details">
                            <li>Client:
                                <strong>
                                    <!-- <a href="http://startbootstrap.com">Start Bootstrap</a> -->
                                </strong>
                            </li>
                            <li>Date:
                                <strong>
                                    <!-- <a href="http://startbootstrap.com">April 2014</a> -->
                                </strong>
                            </li>
                            <li>Service:
                                <strong>
                                    <!-- <a href="http://startbootstrap.com">Web Development</a> -->
                                </strong>
                            </li>
                        </ul>
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                            <i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>